<home-navbar>
</home-navbar>

<div id="taskEditForm" id="taskEditForm">
	<section class="jumbotron">
		<font color="brown" face="Times new roman"><h1> Edit Project</h1></font>
	</section>

	<form name="" id="" novalidate>
		<table>
			<tr>
				<td>
					<input type="text" class="form-control" ng-model="oldTaskName" readonly>
				</td>
				<td>
					Old Title
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control" ng-model="taskForm.titleOfTask">
				</td>
				<td>
					New Title
				</td>
			</tr>

			<tr>
				<td>
					<input type=date class="form-control" ng-model="taskForm.dueDateOfTask" required>
				</td>
				<td>
					DueDate
				</td>
			</tr>

			<tr>
				<td>
					<input type="radio" id="importance" name="importance" value="Low" ng-model="taskForm.importanceOfTask"> Low
					<input type="radio" id="importance" name="importance" value="Medium" ng-model="taskForm.importanceOfTask"> Medium
					<input type="radio" id="importance" name="importance" value="High" ng-model="taskForm.importanceOfTask"> High


				</td>
				<td>
					Importance
				</td>
			</tr>

			<tr>
				<td>
					<input type="radio" id="importance" name="status" value="Yet to Start" ng-model="taskForm.statusOfTask"> Yet to Start
					<input type="radio" id="importance" name="status" value="In Progress" ng-model="taskForm.statusOfTask"> In Progress
					<input type="radio" id="importance" name="status" value="Completed" ng-model="taskForm.statusOfTask">Completed

				</td>
				<td>
					Status
				</td>
			</tr>
		</table>
		<button type="submit" class="btn btn-warning" ng-click="edit()">Edit Task</button>
	</form>
</div>