<home-navbar>
</home-navbar>
<br>
<section class="jumbotron">
	<font color="red" face="Times new roman"><h1> Task Details</h1></font>
</section>

<div class="col-sm-6 col-md-4 col-lg-3 " align="center">
	<div class="panel panel-default ">
		<font size="5" color="Brown" face="Times New Roman">
		<table>
			<tr>
				<td>
					Title:
				</td>
				<td>
					&nbsp; &nbsp;{{task.title}}
				</td>
			</tr>

			<tr>
				<td>
					DueDate:
				</td>
				<td>
					&nbsp; &nbsp;{{task.dueDate}}
				</td>
			</tr>

			<tr>
				<td>
					Importance:
				</td>
				<td>
					&nbsp; &nbsp;{{task.importance}}
				</td>
			</tr>
			<tr>
				<td>
					Status:
				</td>
				<td>
					&nbsp; &nbsp;{{task.status}}
				</td>
			</tr>
			</table></font>
	</div>
</div>