<home-navbar>
</home-navbar>
<br>
<section class="jumbotron">
	<font color="brown" face="Times new roman"><h1> Task Details</h1></font>
</section>

<div align="center" class="panel panel-default col-sm-12 col-md-12 col-lg-12">
	<table>
		<tr>
			<td>
				<input type=password ng-model="form.password" required>
			</td>
			<td>OldPassword</td>
		</tr>


		<tr>
			<td>
				<input type=password ng-model="form.newPassword" required>
			</td>
			<td>NewPassword</td>
		</tr>

	</table>
	<button type="submit" ng-click="changePwd()" class="btn btn-warning">ChangePwd</button>
</div>